<div>
  <div>
    <h1>
      List of all bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/insert_bookmark" method="post">
      <div>

        <label for = "movie_nm"></label>
          <select id = "query_movie_id" name="query_movie_id">
          
          <% @matching_movies.each do |a_bookmark| %>
            

                <option value = "<%= a_bookmark.id %>">
                <%= a_bookmark.title %>
                </option>
              
           
          <%end%>
          </select>
      <button>
        Bookmark this movie!
      </button>
    </form>
  </div>
</div>

<hr>
<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <% if a_bookmark.user_id == @current_user.id%>
        <tr>
          <td>
            <a href="/movies/<%= a_bookmark.movie_id %>">
            <%= a_bookmark.movie_name.title %>
          </td>

          <td>
            <%= a_bookmark.created_at %>
          </td>

          <td>
            <%= time_ago_in_words(a_bookmark.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(a_bookmark.updated_at) %> ago
          </td>

          <td>
            <a href="/delete_bookmark/<%= a_bookmark.id %>">
              Un-bookmark
            </a>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>


<hr>
